<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MegasoftDelayedPostingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="SysproEntities" connectionString="metadata=res://*/SysproModel.csdl|res://*/SysproModel.ssdl|res://*/SysproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2017;initial catalog=TheOUTDOORSCompany0;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MegasoftEntities" connectionString="metadata=res://*/Megasoft.csdl|res://*/Megasoft.ssdl|res://*/Megasoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.21.22;initial catalog=Megasoft;user id=sa;password=MTBS$123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <MegasoftDelayedPostingService.Properties.Settings>
      <setting name="CompanyId" serializeAs="String">
        <value>T</value>
      </setting>
      <setting name="CompanyPassword" serializeAs="String">
        <value>TEST</value>
      </setting>
      <setting name="SysproUser" serializeAs="String">
        <value>JAROD</value>
      </setting>
      <setting name="SysproPassword" serializeAs="String">
        <value>J@rod@987</value>
      </setting>
      <setting name="WcfBaseAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServiceIntervalMins" serializeAs="String">
        <value>15</value>
      </setting>
    </MegasoftDelayedPostingService.Properties.Settings>
  </userSettings>
</configuration>
