@model Megasoft2.Models.PalletAudit
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmIndex" }))
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }

    <fieldset>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h4 class="text-center" style="font-weight:bold;">Pallet Audit Purge</h4><hr />

                        <div class="form-horizontal row">
                            <div class="form-group">
                                <div class="control-label col-md-1 col-xs-12" style="text-align:left;">
                                    Warehouse
                                </div>
                                <div class="col-md-5 col-xs-12" style="text-align:left;">
                                    @Html.DropDownListFor(model => model.Warehouse, new SelectList(ViewBag.WarehouseList, "Warehouse", "Description"), new { @id = "ddlWarehouse", @class = "form-control input-xs", @style = "font-size:xx-small;" })
                                    @Html.ValidationMessageFor(model => model.Warehouse)
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal row">
                            <div class="form-group">
                                <div class="control-label col-md-12 col-xs-12" style="text-align:left;">
                                    <button type="submit" class="btn btn-default btn-sm" name="action:CopyToStockTake" value="CopyToStockTake">
                                        <i class="fa fa-clipboard fa-lg" title="Copy To Stock Take" aria-hidden="true"> Copy to Stock Take</i>
                                        <span class="sr-only">Copy to Stock Take</span>
                                    </button>

                                    <button type="submit" class="btn btn-danger btn-sm" name="action:PalletAuditPurge" value="PalletAuditPurge">
                                        <i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Purge"> Purge</i>
                                        <span class="sr-only">Purge</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
