<div class="panel panel-primary modal-body">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" class="collapsed">
                Customers
            </a>
        </h4>
    </div>
    <div class="panel-body" id="gl">
        <div class="tab-content panel-body">

            @*<div id="SysproCustomerTab" class="tab-pane fade in active">
                <div class="form-group">
                    <div class="col-sm-12">
                        <fieldset>

                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-horizontal row">
                                            <div class="form-group">
                                                <div id="CustomerResults" class="table-responsive">
                                                    <table id="CustomerSearch" class="table table-hover table-striped table-condensed table-responsive table-bordered">
                                                        <thead><tr><th>Customer</th><th>Name</th></tr></thead>
                                                        <tbody id="data"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        `
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>*@

            <div id="NewCustomerTab" class="">
                <div class="form-group">
                    <div class="col-sm-12">
                        <fieldset>

                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-horizontal row">
                                            <div class="form-group">
                                                <div id="NewCustomerResults" class="table-responsive">
                                                    <table id="CustomerSearch" class="table table-hover table-striped table-condensed table-responsive table-bordered">
                                                        <thead><tr><th>Customer</th><th>To Email</th></tr></thead>
                                                        <tbody id="data"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<link href="~/Content/DataTable/datatables.css" rel="stylesheet">
@Scripts.Render("~/Content/DataTable/datatables.js")
<script type="text/javascript">
    function GetCustomers() {
    var table = $("#CustomerSearch tbody");

        $.ajax({
            url: "@Url.Action("CustomerList","TransportSystemCustomerEmail",new { FilterText = " " })",
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                table.empty();
                $.each(data, function (a, b) {
                    table.append("<tr class='nr' id=" + b.Customer + "  data-dismiss='modal'><td><a href=#>" + b.Customer + "</a></td>" +
                        "<td>" + b.ToEmail + "</td></tr>");
                });

                $("#CustomerSearch").DataTable();
            }

        });
    }
    

    $(document).ready(function () {
        GetCustomers();

        $('#NewCustomerResults').on("click", ".nr", function () {
            var rCode = $(this).attr('id');
            $('#Customer').val(rCode);
            window.setTimeout(function () {
            }, 500);
        });
        });

   
</script>