<div class="panel panel-primary modal-body">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" class="collapsed">
                Plate Category
            </a>
        </h4>
    </div>
    <div class="panel-body" id="gl">
        <div class="col-sm-12">
            <div class="form-group">

                <div class="form-horizontal row">
                    <div class="form-group">
                        <div class="editor-field input-sm col-sm-12">
                            <input type="text" id="txtPlateCategorySearch" class="form-control input-sm" placeholder="Search" autofocus />
                        </div>
                    </div>
                </div>
                <div class="form-horizontal row">
                    <div class="form-group">
                        <div id="PlateCategoryResults" class="table-responsive">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function GetPlateCategory()
    {
        $.getJSON("@Url.Action("PlateCategoryList","StereoSystemAddStereo",new { FilterText = " " })", function (data) {
            var items = '<table id="PlateCategorySearch" class="table table-hover table-striped table-condensed table-responsive table-bordered"><tr><th>Item</th><th>Description</th></tr>';
            $.each(data, function (i, x) {
                items += "<tr class='nr' id=" + x.Item + "  data-dismiss='modal'><td><a href=#>" + x.Item + "</a></td><td>" + x.Description + "</td></tr>";
            });
            items += "</table>";
            $('#PlateCategoryResults').html(items);
            //alert(items);
        });
    }

    $(document).ready(function () {
        GetPlateCategory();
        $('#txtPlateCategorySearch').focus();
        $('#txtPlateCategorySearch').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            var $rows = $('#PlateCategorySearch .nr');
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        $('#PlateCategoryResults').on("click", ".nr", function () {
            var rCode = $(this).attr('id');
            //do something with id
            $('#PlateCategory').val(rCode);
            window.setTimeout(function () {
            }, 500);
        });
        $('#txtPlateCategory').focus();

    });
</script>