@using Megasoft2.Models

@model LabelPrintPurchaseOrder




@using (Ajax.BeginForm("GetResults", "PurchaseOrderLabel",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }))
{

    <div class="form-horizontal row">
        <div class="form-group">
            <div class="col-md-1 col-xs-12" style="text-align:left;">
                <a href="@Url.Action("Index", "PurchaseOrderBrowse")" class="modal-link btn btn-success btn-sm">
                    <span class="fa fa-search" aria-hidden="true" title="Browse Purchase Orders"> Search</span>
                </a>
            </div>
            <div class="editor-field col-md-2 col-xs-8" style="text-align:left;">
                @Html.TextBoxFor(model => model.searchTerm, new { @class = "form-control input-sm", @id="txtPurchaseOrder" })
                @Html.ValidationMessageFor(model => model.searchTerm)
            </div>
            <div class="col-md-9 col-xs-2" style="text-align:left;">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

}

