@{
    ViewBag.Title = "Report";
}

<h4 style="font-weight:bold;" class="text-center">Ink Job Card Reports</h4>
<hr />
<div class="form-horizontal row " style="display: flex; justify-content: center;">
    <div class="form-group">
        <div class="col-sm-12"></div>
        <a href="#" class="btn btn-primary" style="width:286px" onclick="PopupReport('InkJobCard')">
            <span class="fa fa-list-alt" aria-hidden="true" title="Ink Job Card"> Ink Job Card</span>
        </a>
    </div>
</div>





<script type="text/javascript">
            function PopupReport(Report) {
                 var entryGuid = "";
                window.open('../CrystalReports/ReportViewer.aspx?Report=' + Report + '&EntryGuid=' + entryGuid, '_blank', 'width=900px,height=600px,location=no,menubar=no,titlebar=no,toolbar=no,resizable=yes,scrollbars=1');
           }
</script>