<div class="panel panel-primary modal-body">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" class="collapsed">
                Ap Terms
            </a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="form-group">

                <div class="form-horizontal row">
                    <div class="form-group">
                        <div class="editor-field input-sm col-sm-12">
                            <input type="text" id="txtSearchApTerms" class="form-control input-sm" placeholder="Search" autofocus />
                        </div>
                    </div>
                </div>
                <div class="form-horizontal row">
                    <div class="form-group">
                        <div id="ApTermsResults" class="table-responsive">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@


<script type="text/javascript">

    function SearchApTerms()
    {
        $.getJSON('../Supplier/ApTermsList', function (data) {
            var items = '<table id="ApTermsSearch" class="table table-hover table-striped table-condensed table-responsive table-bordered"><tr><th>TermsCode</th><th>Description</th></tr>';
            $.each(data, function (i, terms) {

                items += "<tr class='nr' data-dismiss='modal'><td>" + terms.TermsCode + "</td><td>" + terms.Description + "</td></tr>";
            });
            items += "</table>";
            $('#ApTermsResults').html(items);
            //alert(items);
        });
    }

    $(document).ready(function () {

        SearchApTerms();

        $('#txtSearchApTerms').keyup(function () {

            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            var $rows = $('#ApTermsSearch .nr');
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();

        });

        $('#ApTermsResults').on("click", ".nr", function () {

            var Code = $(this).find('td:eq(0)').text();
            $('#txtCode').val(Code);
        });
    });
</script>
