<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MegasoftService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MegasoftEntities" connectionString="metadata=res://*/Megasoft.csdl|res://*/Megasoft.ssdl|res://*/Megasoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=163.195.194.241;initial catalog=Megasoft;persist security info=True;user id=sa;password=FFSdatabase;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysproEntities" connectionString="metadata=res://*/Syspro.csdl|res://*/Syspro.ssdl|res://*/Syspro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=163.195.194.241;initial catalog=SysproCompanyA;persist security info=True;user id=sa;password=FFSdatabase;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <MegasoftService.Properties.Settings>
      <setting name="SysproUser" serializeAs="String">
        <value>ADMIN</value>
      </setting>
      <setting name="SysproPassword" serializeAs="String">
        <value>ADMIN</value>
      </setting>
      <setting name="CompanyId" serializeAs="String">
        <value>Y</value>
      </setting>
      <setting name="CompanyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WcfAddress" serializeAs="String">
        <value>net.tcp://localhost:20000/SYSPROWCFService/Rest</value>
      </setting>
    </MegasoftService.Properties.Settings>
  </userSettings>
</configuration>